.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*
vendor/bundle
data_bags/*
site-cookbooks/config-files/recipes/id_rsa.rb
site-cookbooks/config-files/files/default/*
